.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
