@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto&display=swap');

/* default body CSS for font and background*/
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  color: white;
}
/* Navbar styling below */
.item-link {
  margin: 1rem;
  padding: 2rem;
  background-color: #84a3be;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 #1a1919;
}
.item-link:hover {
  transform: scale(1.07);
}
.navlink {
  margin: 0 0.5rem;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
}
.navlink:hover {
  /* background-color: #6687a42e; */
  border-radius: 5px;
  transform: scale(1.1);
}
nav {
  background-color: rgb(0, 0, 0, 0.05);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  /* position: fixed;*/
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.logo {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
